




body {
	background-color: black;
	font-family: Helvetica, Arial, sans-serif
}

header {
		padding: 5px;
		background-color: #cccccc
}




h3, p, title, ul, header {
	color: #35A67C;
}

nav a {
	color: #35A67C;
	font-style: italic;
	margin-right: 10px;
}

a {
	color: #35A67C;
	text-decoration: none;
	margin-right: 10px;
	padding: 10px;
}


img {
	height: 300px;
}
